@model List<Category>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Description</th>

        </tr>
    </thead>

    @foreach (var category in Model)
    {
        <tbody>
            <tr>
                <th>@category.Id</th>
                <td>@category.Name</td>
                <td>@category.Description</td>
                <td>@category.Description</td>
            </tr>
        </tbody>
    }
</table>