@model List<Town>

<select class="form-select" id="townsSelect">
    <option value="">İlçeler</option>
    @foreach (var town in Model)
    {
        <option value="@town.Id">@town.Ilce</option>
    }
</select>