@model List<Town>


<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Adı</th>
            <th scope="col">Sehir Plaka</th>
            <th scope="col">Sehir</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var town in Model)
        {
            <tr>
                <th>@town.Id</th>
                <td>@town.Ilce</td>
                <td>@town.CityId</td>
                <td>@town.City.Sehir</td>
            </tr>
        }
    </tbody>
</table>
