@model List<Category>


<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>

        </tr>
    </thead>

    @foreach (var shopCategory in Model)
    {
        <tbody>
            <tr>
                <th>@shopCategory.Id</th>
                <td>@shopCategory.Name</td>
                <td>@shopCategory.Description</td>
            </tr>
        </tbody>
    }
</table>