<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>WhatWhere Dashboard - SB Admin</title>
    <link href="~/css/AdminStyles.css" rel="stylesheet" />
    <script src="~/fontawesome/js/all.min.js"></script>
    @await RenderSectionAsync("Css",false)
</head>
<body class="sb-nav-fixed">
    @await Html.PartialAsync("_TopMenuPartial")
    <div id="layoutSidenav">

        @await Html.PartialAsync("_LeftMenuPartial")
       
        <div id="layoutSidenav_content">
           
            
            <main>
                <div class="container-fluid px-4">
                    @RenderBody()
                </div>
            </main>

            @*FOOTER*@
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Mücahit Çetinkaya 2023</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
            @*FOOTER*@

        </div>

    </div>

    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/AdminScripts.js"></script>
    <script src="~/jquery/jquery.min.js"></script>
    @await RenderSectionAsync("Js", false)
</body>
</html>
