<h1 class="display-6">Şifre Sıfırlama</h1>
<hr />
<form
    asp-area=""
    asp-controller="Account"
    asp-action="ForgotPassword"
    method="post"
>
    <div class="row" style="width:30%;">
        <div class="col-12 mb-3">
            <label class="form-label">Email adresinizi giriniz:</label>
            <input class="form-control" name="email"/>
            <span class="text-danger">@ViewBag.EmailErrorMessage</span>
        </div>
        <div class="col-12 mb-3 d-grid">
            <button type="submit" class="btn btn-success">Linki gönder</button>
        </div>
    </div>
    
</form>