@model ResetPasswordViewModel
<h1 class="display-6">Şifre Değiştirme</h1>
<hr />
<form
    asp-area=""
    asp-controller="Account"
    asp-action="ResetPassword"
    method="post"
>
    <input type="hidden" asp-for="UserId" />
    <input type="hidden" asp-for="Token" />
    <div class="row" style="width:30%;">
        <div class="col-12 mb-3">
            <label class="form-label" asp-for="Password"></label>
            <input class="form-control" asp-for="Password"/>
            <span class="text-danger" asp-validation-for="Password"></span>
        </div>
        <div class="col-12 mb-3">
            <label class="form-label" asp-for="RePassword"></label>
            <input class="form-control" asp-for="RePassword" />
            <span class="text-danger" asp-validation-for="RePassword"></span>
        </div>
        <div class="col-12 mb-3 d-grid">
            <button type="submit" class="btn btn-success">Şifremi Değiştir</button>
        </div>
    </div>
    
</form>