@model CategoryViewModel

<form asp-action="ChoseCategory" method="post">
    <input name="cityId" value="@Model.Id" hidden />
    <div class="mb-3">
        <label class="form-label">Kategori Seçin</label>
        <select class="form-select" aria-label="Default select example" name="categoryId">
            <option selected>Kategoriler</option>
            @foreach (var category in Model.Categories)
            {
                <option value="@category.Id">@category.Name</option>
            }
        </select>
    </div>
    <button class="btn btn-danger" type="submit">Kategori Seçtim</button>
</form>
