@model CityViewModel

<form asp-action="ChoseTown" method="post">
    <div class="mb-3">
        <label for="cityId" class="form-label">Şehir Seçin</label>
        <select class="form-select" aria-label="Default select example" name="cityId">
            <option selected>Şehirler</option>
            @foreach (var city in Model.Cities)
            {
                <option value="@city.Id">@city.Sehir</option>
            }
        </select>
    </div>
    <button class="btn btn-danger" type="submit">Şehir Seçtim</button>
</form>
